@use "../var/var";
@use "../var/mixin";
.article {
  flex: 1 1 70%;
  margin-right: 2%;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  overflow-y: scroll;
  /* IE, Edge 対応 */
  -ms-overflow-style: none;
  /* Firefox 対応 */
  scrollbar-width: none;
  /* Chrome, Safari 対応 */
  &::-webkit-scrollbar {
    display: none;
  }
  &__link {
    text-decoration: none;
    &__section {
      width: 256px;
      height: 244px;
      background-color: #fff;
      box-shadow: 5px 5px 15px #00000080;
      border-radius: 25px;
      margin: 17px;
      transition: all 0.3s;
      &:hover {
        cursor: pointer;
        box-shadow: 10px 15px 15px #00000080;
        opacity: 0.8;
        transition: all .3s;
      }
      &__img {
        width: 256px;
        height: 144px;
        opacity: 1;
        border-radius: 25px 25px 0 0;
      }
      &__text {
        display: flexbox;
        position: absolute;
        width: 256px;
        text-decoration: none;
        color: #000;
        &__headline {
          margin-top: 8px;
          text-align: center;
          font-size: 20px;
        }
        &__discription {
          margin: 5px 20px 0;
          text-align: center;
          font-size: 15px;
          line-height: 20px;
        }
        &__dataPublished {
          font-size: 12px;
          margin-top: 5px;
          position: relative;
          left: 30%;
        }
      }
    }
  }
}

