doctype html
html(lang="ja")
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#")
    - var path = "../../";
    include ../../_include/_head.pug

    //- TITLE
    title REACT | YOCCI_ii7 BLOG

    //- CSS
    link(rel="stylesheet", href="../../common/css/app.css")

    //- JS
    script(src="../../common/js/bundle.js")

  body
    //- HEADER
    include ../../_include/_header.pug

    //- MAIN
    main.main
      //- SIDE_BAR
      include ../../_include/_sidebar.pug
