//- pug -w ./ -o ./ -P
doctype html
html
  head
    title Yocci Blog
    link(rel='stylesheet' href='./common/css/app.css')
    script(src='./common/js/script.js')
    script(src='https://kit.fontawesome.com/7358297ab3.js' crossorigin='anonymous')
  body
    header.header
      nav.header__nav
        h2.header__nav__logo
          a(href='./index.html') YOCCI_ii BLOG
        ul.header__nav__ul
          li.header__nav__ul__li
            a(href='#') About
          li.header__nav__ul__li
            a(href='#') Index
          li.header__nav__ul__li
            a(href='#') Skil
          li.header__nav__ul__li
            a(href='#') Contact

    main.main
      .sidebar
        .sidebar__search
          input.sidebar__search__input(placeholder='Search')
          .sidebar__search__button
            i.fa-solid.fa-magnifying-glass.fa-lg

        .sidebar__article__filter
          p.sidebar__article__filter__name Filter
          button.sidebar__article__filter__button(data-name='all') all
          button.sidebar__article__filter__button(data-name='programing') Programing
          button.sidebar__article__filter__button(data-name='minecraft') Minecraft
          button.sidebar__article__filter__button(data-name='other') other

        .sidebar__links
          p.sidebar__links__caption hogehoge
          ul.sidebar__links__ul
            li.sidebar__links__li
              a(href='#') hoge
            li.sidebar__links__li
              a(href='#') hoge
            li.sidebar__links__li
              a(href='#') hoge
            li.sidebar__links__li
              a(href='#') hoge
            li.sidebar__links__li
              a(href='#') hoge

          p.sidebar__links__caption hogehoge
          ul.sidebar__links__ul
            li.sidebar__links__li
              a(href='#') hoge
            li.sidebar__links__li
              a(href='#') hoge
            li.sidebar__links__li
              a(href='#') hoge
            li.sidebar__links__li
              a(href='#') hoge
            li.sidebar__links__li
              a(href='#') hoge

      article.article
        section.article__section(data-name='all')
          img.article__section__img(src='./img/asas.png' alt='')
          .article__section__text
            h4.article__section__text--title Pug Sass Tutorial
            p.article__section__text--discription Lorem ipsum dolor sit amet,
        
        section.article__section(data-name='all')
          img.article__section__img(src='./img/asas.png' alt='')
          .article__section__text
            h4.article__section__text--title Pug Sass Tutorial
            p.article__section__text--discription Lorem ipsum dolor sit amet,
        
        section.article__section(data-name='all')
          img.article__section__img(src='./img/asas.png' alt='')
          .article__section__text
            h4.article__section__text--title Pug Sass Tutorial
            p.article__section__text--discription Lorem ipsum dolor sit amet,
        
        section.article__section(data-name='all')
          img.article__section__img(src='./img/asas.png' alt='')
          .article__section__text
            h4.article__section__text--title Pug Sass Tutorial
            p.article__section__text--discription Lorem ipsum dolor sit amet,
        
        section.article__section(data-name='all')
          img.article__section__img(src='./img/asas.png' alt='')
          .article__section__text
            h4.article__section__text--title Pug Sass Tutorial
            p.article__section__text--discription Lorem ipsum dolor sit amet,
        
        section.article__section(data-name='all')
          img.article__section__img(src='./img/asas.png' alt='')
          .article__section__text
            h4.article__section__text--title Pug Sass Tutorial
            p.article__section__text--discription Lorem ipsum dolor sit amet,
        
        section.article__section(data-name='all')
          img.article__section__img(src='./img/asas.png' alt='')
          .article__section__text
            h4.article__section__text--title Pug Sass Tutorial
            p.article__section__text--discription Lorem ipsum dolor sit amet,
        
        section.article__section(data-name='all')
          img.article__section__img(src='./img/asas.png' alt='')
          .article__section__text
            h4.article__section__text--title Pug Sass Tutorial
            p.article__section__text--discription Lorem ipsum dolor sit amet,
        
        section.article__section(data-name='all')
          img.article__section__img(src='./img/asas.png' alt='')
          .article__section__text
            h4.article__section__text--title Pug Sass Tutorial
            p.article__section__text--discription Lorem ipsum dolor sit amet,
        
        section.article__section(data-name='all')
          img.article__section__img(src='./img/asas.png' alt='')
          .article__section__text
            h4.article__section__text--title Pug Sass Tutorial
            p.article__section__text--discription Lorem ipsum dolor sit amet,
        
        section.article__section(data-name='all')
          img.article__section__img(src='./img/asas.png' alt='')
          .article__section__text
            h4.article__section__text--title Pug Sass Tutorial
            p.article__section__text--discription Lorem ipsum dolor sit amet,
        
        section.article__section(data-name='all')
          img.article__section__img(src='./img/asas.png' alt='')
          .article__section__text
            h4.article__section__text--title Pug Sass Tutorial
            p.article__section__text--discription Lorem ipsum dolor sit amet,
        
        section.article__section(data-name='all')
          img.article__section__img(src='./img/asas.png' alt='')
          .article__section__text
            h4.article__section__text--title Pug Sass Tutorial
            p.article__section__text--discription Lorem ipsum dolor sit amet,
        
        section.article__section(data-name='all')
          img.article__section__img(src='./img/asas.png' alt='')
          .article__section__text
            h4.article__section__text--title Pug Sass Tutorial
            p.article__section__text--discription Lorem ipsum dolor sit amet,
        
        section.article__section(data-name='all')
          img.article__section__img(src='./img/asas.png' alt='')
          .article__section__text
            h4.article__section__text--title Pug Sass Tutorial
            p.article__section__text--discription Lorem ipsum dolor sit amet,
        
        section.article__section(data-name='all')
          img.article__section__img(src='./img/asas.png' alt='')
          .article__section__text
            h4.article__section__text--title Pug Sass Tutorial
            p.article__section__text--discription Lorem ipsum dolor sit amet,
        
        section.article__section(data-name='all')
          img.article__section__img(src='./img/asas.png' alt='')
          .article__section__text
            h4.article__section__text--title Pug Sass Tutorial
            p.article__section__text--discription Lorem ipsum dolor sit amet,
        
        section.article__section(data-name='all')
          img.article__section__img(src='./img/asas.png' alt='')
          .article__section__text
            h4.article__section__text--title Pug Sass Tutorial
            p.article__section__text--discription Lorem ipsum dolor sit amet,
        
        section.article__section(data-name='all')
          img.article__section__img(src='./img/asas.png' alt='')
          .article__section__text
            h4.article__section__text--title Pug Sass Tutorial
            p.article__section__text--discription Lorem ipsum dolor sit amet,
        
        section.article__section(data-name='all')
          img.article__section__img(src='./img/asas.png' alt='')
          .article__section__text
            h4.article__section__text--title Pug Sass Tutorial
            p.article__section__text--discription Lorem ipsum dolor sit amet,
        
        section.article__section(data-name='all')
          img.article__section__img(src='./img/asas.png' alt='')
          .article__section__text
            h4.article__section__text--title Pug Sass Tutorial
            p.article__section__text--discription Lorem ipsum dolor sit amet,
        
        section.article__section(data-name='all')
          img.article__section__img(src='./img/asas.png' alt='')
          .article__section__text
            h4.article__section__text--title Pug Sass Tutorial
            p.article__section__text--discription Lorem ipsum dolor sit amet,
        
        section.article__section(data-name='all')
          img.article__section__img(src='./img/asas.png' alt='')
          .article__section__text
            h4.article__section__text--title Pug Sass Tutorial
            p.article__section__text--discription Lorem ipsum dolor sit amet,
