//- ENCODE
meta(charset="UTF-8")
//- IE
meta(http-equiv="X-UA-Compatible" content="IE=edge")
//- VIEWPORT
meta(name="viewport" content="width=device-width, initial-scale=1.0")
//- PHONENUMBER_CONVERSION
meta(name="format-detection" content="telephone=no")
//- URL_NORMALIZATION
link(rel="canonical" href="index.html")

//- FAVICON
//- link(rel="icon" href="画像URL" sizes="16x16" type="image/png")
//- link(rel="icon" href="画像URL" sizes="32x32" type="image/png")
//- link(rel="icon" href="画像URL" sizes="48x48" type="image/png")
//- link(rel="icon" href="画像URL" sizes="62x62" type="image/png")
//- IE8〜10
//- link(rel="shortcut icon" href="画像URL（.ico）" type="image/x-icon")
//- SM_ICON
//- link(rel="apple-touch-icon-precomposed" href="画像のURL")
//- WINDOWS_TILE
//- meta(name="msapplication-TileImage" content=`${path}img/logo.png`)
//- meta(name="msapplication-TileColor" content= "#eec968")

//- GOOGLE_ADSENCE
script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7672438019900336" crossorigin="anonymous")

//- FONTAWESOME
script(src="https://kit.fontawesome.com/7358297ab3.js" crossorigin="anonymous")
