header.header
  nav.header__nav
    h2.header__nav__top
      a(href="/index.html")
        img.header__nav__top__logo(src="/img/logo.png", alt="")
    ul.header__nav__ul
      li.header__nav__ul__li
        a(href="/index.html") HOME
      li.header__nav__ul__li
        a(href="/page/about/index.html") ABOUT
      li.header__nav__ul__li
        a(href="/page/news/index.html") NEWS
      li.header__nav__ul__li
        a(href="/page/contact/index.html") CONTACT
