.sidebar
  //- SEARCH_BOX
  .sidebar__search
    input.sidebar__search__input(placeholder="Search")
    .sidebar__search__button
      i(class="fa-solid fa-magnifying-glass fa-lg")

  .recentArticle
    h4.recentArticle__title
      <i class="fa fa-thumb-tack" aria-hidden="true"></i> Recent Article</h4>
