.sidebar
  //- SEARCH_BOX
  .sidebar__search
    input.sidebar__search__input(placeholder="Search")
    .sidebar__search__button
      i(class="fa-solid fa-magnifying-glass fa-lg")

  //- FILTER
  .sidebar__filter
    p.sidebar__filter__name Filter
    button.sidebar__filter__button All
    button.sidebar__filter__button Programing
    button.sidebar__filter__button Minecraft
    button.sidebar__filter__button Other

  .recentArticle
    h4.recentArticle__title <i class="fa fa-thumb-tack" aria-hidden="true"></i> Recent Article

  //- //- LINK
  //- .sidebar__link
  //-   //- 1
  //-   p.sidebar__link__caption
  //-   ul.sidebar__link__ul
  //-     li.sidebar__link__li
  //-       a(href="#") hoge
  //-     li.sidebar__link__li
  //-       a(href="#") hoge
  //-     li.sidebar__link__li
  //-       a(href="#") hoge

  //-   //- 2
  //-   p.sidebar__link__caption
  //-   ul.sidebar__link__ul
  //-     li.sidebar__link__li
  //-       a(href="#") hoge
  //-     li.sidebar__link__li
  //-       a(href="#") hoge
  //-     li.sidebar__link__li
  //-       a(href="#") hoge
  //-     li.sidebar__link__li

  //-   //- 3
  //-   p.sidebar__link__caption
  //-   ul.sidebar__link__ul
  //-     li.sidebar__link__li
  //-       a(href="#") hoge
  //-     li.sidebar__link__li
  //-       a(href="#") hoge
  //-     li.sidebar__link__li
  //-       a(href="#") hoge
  //-     li.sidebar__link__li
