doctype html
html(lang="ja")
  head(prefix="og: https://-ogp.me/ns#")
    - var path = "./";
    include ./_include/_head.pug

    //- TITLE
    title YOCCI_ii7 BLOG

    //- DISCRIPTION
    meta(name="description" content="このサイトは、プログラミング初心者の主が学習したプログラミング知識やMinecraftの自作Modやを記事にまとめて公開しているサイトです。")

    //- CSS
    link(rel="stylesheet", href="./common/css/app.css")
    link(rel="stylesheet", href="./common/css/article.css")

    //- JS
    script(src="./common/js/bundle.js")

  body
    #root
    script(src="bundle.js")
    //- HEADER
    include ./_include/_header.pug

    //- MAIN
    main.main
      //- SIDE_BAR
      include ./_include/_sidebar.pug

      //- ARTICLE
      article.article

        //- 1
        a.article__link(href="https://google.com")
          section.article__link__section
            img.article__link__section__img(src="./img/pug_sass.png" alt="")
            .article__link__section__text
              h4.article__link__section__text__headline Pug Sass Tutorial
              p.article__link__section__text__discription Lorem ipsum dolor sit amet consectetur adipisicing elit.
              p.article__link__section__text__dataPublished 2024/02/23

        //- 1
        a.article__link(href="https://google.com")
          section.article__link__section
            img.article__link__section__img(src="./img/pug_sass.png" alt="")
            .article__link__section__text
              h4.article__link__section__text__headline Pug Sass Tutorial
              p.article__link__section__text__discription Lorem ipsum dolor sit amet consectetur adipisicing elit.
              p.article__link__section__text__dataPublished 2024/02/23

        //- 1
        a.article__link(href="https://google.com")
          section.article__link__section
            img.article__link__section__img(src="./img/pug_sass.png" alt="")
            .article__link__section__text
              h4.article__link__section__text__headline Pug Sass Tutorial
              p.article__link__section__text__discription Lorem ipsum dolor sit amet consectetur adipisicing elit.
              p.article__link__section__text__dataPublished 2024/02/23

        //- 1
        a.article__link(href="https://google.com")
          section.article__link__section
            img.article__link__section__img(src="./img/pug_sass.png" alt="")
            .article__link__section__text
              h4.article__link__section__text__headline Pug Sass Tutorial
              p.article__link__section__text__discription Lorem ipsum dolor sit amet consectetur adipisicing elit.
              p.article__link__section__text__dataPublished 2024/02/23

        //- 1
        a.article__link(href="https://google.com")
          section.article__link__section
            img.article__link__section__img(src="./img/pug_sass.png" alt="")
            .article__link__section__text
              h4.article__link__section__text__headline Pug Sass Tutorial
              p.article__link__section__text__discription Lorem ipsum dolor sit amet consectetur adipisicing elit.
              p.article__link__section__text__dataPublished 2024/02/23

        //- 1
        a.article__link(href="https://google.com")
          section.article__link__section
            img.article__link__section__img(src="./img/pug_sass.png" alt="")
            .article__link__section__text
              h4.article__link__section__text__headline Pug Sass Tutorial
              p.article__link__section__text__discription Lorem ipsum dolor sit amet consectetur adipisicing elit.
              p.article__link__section__text__dataPublished 2024/02/23

        //- 1
        a.article__link(href="https://google.com")
          section.article__link__section
            img.article__link__section__img(src="./img/pug_sass.png" alt="")
            .article__link__section__text
              h4.article__link__section__text__headline Pug Sass Tutorial
              p.article__link__section__text__discription Lorem ipsum dolor sit amet consectetur adipisicing elit.
              p.article__link__section__text__dataPublished 2024/02/23

        //- 1
        a.article__link(href="https://google.com")
          section.article__link__section
            img.article__link__section__img(src="./img/pug_sass.png" alt="")
            .article__link__section__text
              h4.article__link__section__text__headline Pug Sass Tutorial
              p.article__link__section__text__discription Lorem ipsum dolor sit amet consectetur adipisicing elit.
              p.article__link__section__text__dataPublished 2024/02/23

        //- 1
        a.article__link(href="https://google.com")
          section.article__link__section
            img.article__link__section__img(src="./img/pug_sass.png" alt="")
            .article__link__section__text
              h4.article__link__section__text__headline Pug Sass Tutorial
              p.article__link__section__text__discription Lorem ipsum dolor sit amet consectetur adipisicing elit.
              p.article__link__section__text__dataPublished 2024/02/23

        //- 1
        a.article__link(href="https://google.com")
          section.article__link__section
            img.article__link__section__img(src="./img/pug_sass.png" alt="")
            .article__link__section__text
              h4.article__link__section__text__headline Pug Sass Tutorial
              p.article__link__section__text__discription Lorem ipsum dolor sit amet consectetur adipisicing elit.
              p.article__link__section__text__dataPublished 2024/02/23

        //- 1
        a.article__link(href="https://google.com")
          section.article__link__section
            img.article__link__section__img(src="./img/pug_sass.png" alt="")
            .article__link__section__text
              h4.article__link__section__text__headline Pug Sass Tutorial
              p.article__link__section__text__discription Lorem ipsum dolor sit amet consectetur adipisicing elit.
              p.article__link__section__text__dataPublished 2024/02/23

        //- 1
        a.article__link(href="https://google.com")
          section.article__link__section
            img.article__link__section__img(src="./img/pug_sass.png" alt="")
            .article__link__section__text
              h4.article__link__section__text__headline Pug Sass Tutorial
              p.article__link__section__text__discription Lorem ipsum dolor sit amet consectetur adipisicing elit.
              p.article__link__section__text__dataPublished 2024/02/23

        //- 1
        a.article__link(href="https://google.com")
          section.article__link__section
            img.article__link__section__img(src="./img/pug_sass.png" alt="")
            .article__link__section__text
              h4.article__link__section__text__headline Pug Sass Tutorial
              p.article__link__section__text__discription Lorem ipsum dolor sit amet consectetur adipisicing elit.
              p.article__link__section__text__dataPublished 2024/02/23

        //- 1
        a.article__link(href="https://google.com")
          section.article__link__section
            img.article__link__section__img(src="./img/pug_sass.png" alt="")
            .article__link__section__text
              h4.article__link__section__text__headline Pug Sass Tutorial
              p.article__link__section__text__discription Lorem ipsum dolor sit amet consectetur adipisicing elit.
              p.article__link__section__text__dataPublished 2024/02/23

        //- 1
        a.article__link(href="https://google.com")
          section.article__link__section
            img.article__link__section__img(src="./img/pug_sass.png" alt="")
            .article__link__section__text
              h4.article__link__section__text__headline Pug Sass Tutorial
              p.article__link__section__text__discription Lorem ipsum dolor sit amet consectetur adipisicing elit.
              p.article__link__section__text__dataPublished 2024/02/23
