//- pug -w ./src/pug -o ./dist -P
doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    //- TITLE
    title YOCCI_ii BLOG

    //- CSS
    link(rel="stylesheet", href="./common/css/app.css")
    link(rel="stylesheet", href="./common/css/article.css")

    //- JS
    script(src="./common/js/script.js")

    //- FAVICON


    //-  FONTAWESOME
    script(src="https://kit.fontawesome.com/7358297ab3.js" crossorigin="anonymous")

  body
    //- HEADER
    header.header
      nav.header__nav
        h2.header__nav__top
          a(href="./index.html")
            img.header__nav__top__logo(src="./img/logo.png", alt="")
        ul.header__nav__ul
          li.header__nav__ul__li
            a(href="./index.html") HOME
          li.header__nav__ul__li
            a(href="./page/about.html") ABOUT
          li.header__nav__ul__li
            a(href="./page/news.html") NEWS
          li.header__nav__ul__li
            a(href="./page/contact.html") CONTACT

    //- MAIN
    main.main
      //- SIDE_BAR
      .sidebar
        //- SEARCH_BOX
        .sidebar__search
          input.sidebar__search__input(placeholder="Search")
          .sidebar__search__button
            i(class="fa-solid fa-magnifying-glass fa-lg")

        //- FILTER
        .sidebar__article__filter
          p.sidebar__article__filter__name Filter
          button.sidebar__article__filter__button All
          button.sidebar__article__filter__button Programing
          button.sidebar__article__filter__button(data-name="minecraft") Minecraft
          button.sidebar__article__filter__button(data-name="other") Other

        //- LINK
        .sidebar__link
          //- 1
          p.sidebar__link__caption
          ul.sidebar__link__ul
            li.sidebar__link__li
              a(href="#") hoge
            li.sidebar__link__li
              a(href="#") hoge
            li.sidebar__link__li
              a(href="#") hoge

          //- 2
          p.sidebar__link__caption
          ul.sidebar__link__ul
            li.sidebar__link__li
              a(href="#") hoge
            li.sidebar__link__li
              a(href="#") hoge
            li.sidebar__link__li
              a(href="#") hoge
            li.sidebar__link__li

          //- 3
          p.sidebar__link__caption
          ul.sidebar__link__ul
            li.sidebar__link__li
              a(href="#") hoge
            li.sidebar__link__li
              a(href="#") hoge
            li.sidebar__link__li
              a(href="#") hoge
            li.sidebar__link__li

          //- 4
          p.sidebar__link__caption
          ul.sidebar__link__ul
            li.sidebar__link__li
              a(href="#") hoge
            li.sidebar__link__li
              a(href="#") hoge
            li.sidebar__link__li
              a(href="#") hoge
            li.sidebar__link__li


      //- ARTICLE
      article.article

        //- 1
        a.article__link(href="./page/contact.html")
          section.article__link__section
            img.article__link__section__img(src="./img/pug_sass.png" alt="")
            .article__link__section__text
              h4.article__link__section__text__headline Pug Sass Tutorial
              p.article__link__section__text__discription Lorem ipsum dolor sit amet consectetur adipisicing elit.
              p.article__link__section__text__dataPublished 2024/02/23

        //- 1
        a.article__link(href="./page/contact.html")
          section.article__link__section
            img.article__link__section__img(src="./img/pug_sass.png" alt="")
            .article__link__section__text
              h4.article__link__section__text__headline Pug Sass Tutorial
              p.article__link__section__text__discription Lorem ipsum dolor sit amet consectetur adipisicing elit.
              p.article__link__section__text__dataPublished 2024/02/23

        //- 1
        a.article__link(href="./page/contact.html")
          section.article__link__section
            img.article__link__section__img(src="./img/pug_sass.png" alt="")
            .article__link__section__text
              h4.article__link__section__text__headline Pug Sass Tutorial
              p.article__link__section__text__discription Lorem ipsum dolor sit amet consectetur adipisicing elit.
              p.article__link__section__text__dataPublished 2024/02/23

        //- 1
        a.article__link(href="./page/contact.html")
          section.article__link__section
            img.article__link__section__img(src="./img/pug_sass.png" alt="")
            .article__link__section__text
              h4.article__link__section__text__headline Pug Sass Tutorial
              p.article__link__section__text__discription Lorem ipsum dolor sit amet consectetur adipisicing elit.
              p.article__link__section__text__dataPublished 2024/02/23

        //- 1
        a.article__link(href="./page/contact.html")
          section.article__link__section
            img.article__link__section__img(src="./img/pug_sass.png" alt="")
            .article__link__section__text
              h4.article__link__section__text__headline Pug Sass Tutorial
              p.article__link__section__text__discription Lorem ipsum dolor sit amet consectetur adipisicing elit.
              p.article__link__section__text__dataPublished 2024/02/23

        //- 1
        a.article__link(href="./page/contact.html")
          section.article__link__section
            img.article__link__section__img(src="./img/pug_sass.png" alt="")
            .article__link__section__text
              h4.article__link__section__text__headline Pug Sass Tutorial
              p.article__link__section__text__discription Lorem ipsum dolor sit amet consectetur adipisicing elit.
              p.article__link__section__text__dataPublished 2024/02/23

        //- 1
        a.article__link(href="./page/contact.html")
          section.article__link__section
            img.article__link__section__img(src="./img/pug_sass.png" alt="")
            .article__link__section__text
              h4.article__link__section__text__headline Pug Sass Tutorial
              p.article__link__section__text__discription Lorem ipsum dolor sit amet consectetur adipisicing elit.
              p.article__link__section__text__dataPublished 2024/02/23
