doctype html
html(lang="ja")
  head(prefix="og: https://-ogp.me/ns#")
    - var path = "./";
    include ./_include/_head.pug

    //- TITLE
    title YOCCI_ii7 BLOG

    //- DISCRIPTION
    meta(name="description" content="このサイトは、プログラミング初心者の主が学習したプログラミング知識やMinecraftの自作Modやを記事にまとめて公開しているサイトです。")

    //- CSS
    link(rel="stylesheet", href="./common/css/app.css")
    link(rel="stylesheet", href="./common/css/article.css")

    //- JS
    script(src="./common/js/bundle.js")
    script(src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous")

  body
    //- HEADER
    include ./_include/_header.pug

    //- MAIN
    main.main
      //- SIDE_BAR
      include ./_include/_sidebar.pug

      //- ARTICLE
      article.article
      //- ここにarticle.jsonで作成した記事が入る
