.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;

  &__nav {
    width: 100%;
    padding: 0;
    text-align: center;

    &__top {
      background-color: #eec968;
      height: 50px;
      padding: 10px 0;
      margin: 0 auto 0 auto;
      font-size: 2rem;
      font-weight: bold;

      a {
        text-decoration: none;
        color: #000;
      }

      &__logo {
        width: 223px;
        height: 42px;
        position: relative;
        bottom: 5px;
      }
    }

    &__ul {
      margin-bottom: 50px;
      margin: 16px;

      &__li {
        display: inline-block;
        margin: 0 26px;
        font-size: 18px;
        font-weight: 600;


        & a {
          text-decoration-line: none;
          color: #444444;
          display: inline-block;
          position: relative;

          &::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0%;
            top: 120%;
            transform: translateX(0%);
            width: 0;
            height: 2px;
            background: #000;
            transition: all 0.3s ease 0s;
          }
          &:hover {
            cursor: pointer;
            color: #000;

            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
