.sidebar {
  flex: 1 1 30%;
  margin-left: 2%;
  min-width: 350px;


  &__search {
    display: flex;
    position: fixed;
    top: 102px;

    &__input {
      width: 230px;
      height: 50px;
      border-radius: 20px;
      font-size: 20px;
      background-color: #fff;
      border: 1px solid #000;
      text-align: center;
    }

    &__button {
      margin-left: 10px;
      width: 50px;
      height: 50px;
      border-radius: 10px;
      background-color: #fff;
      border: 1px solid black;

      & .fa-magnifying-glass {
        display: flex;
        justify-content: center;
        margin: 50% 0;
      }
      &:hover {
        cursor: pointer;
        background-color: #000;
        color: #fff;
        transition: 0.2s;
      }
    }
  }

  &__article__filter {
    margin: 5px 0;
    position: fixed;
    top: 155.6px;

    &__name {
      font-size: 20px;
      font-weight: bold;
      padding: 10px 0 5px;
      border: none;
      border-radius: 8px;
    }
    & button {
      background-color: #fff;
      color: #000;
      font-size: 12px;
      padding: 10px 15px;
      border: none;
      border-radius: 8px;

      &:hover {
        cursor: pointer;
        background-color: #000;
        color: #fff;
        transition: 0.6s;
      }
    }
  }

  &__link {
    width: 305px;
    height: auto;
    border-radius: 20px;
    position: fixed;
    top: 229.6px;

    &__caption {
      font-size: 25px;
      font-weight: bold;
      position: relative;
      margin: 10px;
      left: 15px;
    }
    &__ul {
      list-style: none;

      a {
        text-decoration-line: none;
        color: #444444;
        display: inline-block;
        position: relative;
        font-size: 20px;
        margin: 10px;
        left: 15px;
      }
      a::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 50%;
        top: 120%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background: #000;
        transition: .5s ease 0s;
      }
      a:hover {
        color: #000;
        cursor: pointer;
      }
      a:hover::after {
        width: 100%;
      }
    }
  }
}
