.sidebar {
  flex: 1 1 20%;
  margin-left: 5%;
  min-width: 350px;

  &__search {
    display: flex;
    position: fixed;
    top: 130px;

    &__input {
      width: 230px;
      height: 50px;
      border-radius: 20px;
      font-size: 20px;
      background-color: #fff;
      border: 1px solid #000;
      text-align: center;
    }

    &__button {
      margin-left: 10px;
      width: 50px;
      height: 50px;
      border-radius: 10px;
      background-color: #fff;
      border: 1px solid black;
      transition: all 0.3s;

      & .fa-magnifying-glass {
        display: flex;
        justify-content: center;
        margin: 50% 0;
      }
      &:hover {
        cursor: pointer;
        background-color: #000;
        color: #fff;
        transition: all 0.5s;
      }
    }
  }

  // &__filter {
  //   margin: 5px;
  //   // position: fixed;
  //   top: 155.6px;

  //   &__name {
  //     font-size: 20px;
  //     font-weight: bold;
  //     padding: 10px 0 5px;
  //     border: none;
  //     border-radius: 8px;
  //   }
  //   &__button {
  //     background-color: #fff;
  //     color: #000;
  //     font-size: 12px;
  //     padding: 10px 12px;
  //     margin: 0 5px;
  //     border: none;
  //     border-radius: 8px;
  //     transition: all 0.3s;

  //     &:hover {
  //       cursor: pointer;
  //       background-color: #000;
  //       color: #fff;
  //       transition: all 0.6s;
  //     }
  //   }
  // }

  .recentArticle {
    margin-top: 10px;
    position: fixed;
    top:  200px;
    width: 296px;
    height: 355px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #00000080;
    border-radius: 25px;
    transition: all 0.3s;

    &__title {
      background-color: #ecdcb2;
      color: #c29523;
      font-size: 25px;
      padding: 10px;
      text-align: center;
      letter-spacing: 1px;
      border-radius: 20px 20px 0  0;
      width: 296px;
    }

    &__item {
      margin: 10px 5%;
      padding: 10px;
      background-color: #fff;

      &:hover {
        .recentArticle__item__section__img {
          transform:scale(1.1,1.1);
          transition: all .3s ease-in-out;
        }

        .recentArticle__item__section__text {
          opacity: 0.6;
          transition: all .3s;
        }
      }

      a {
        text-decoration: none;
      }

      &__section {
        display: flex;

        &__img {
          width: 70px;
          height: 70px;
          object-fit: cover;
          transition: all .3s ease-in-out;
        }

        &__text {
        transition: all .5s;

          &__headline {
            text-align: center;
            color: #000;
            font-size: 18px;
            white-space: nowrap;
          }

          &__description {
            text-align: center;
            color: #000;
            font-size: 14px;
            white-space: break-word;
            margin: 10px;
          }
        }
      }
    }
  }

  // &__link {
  //   width: 305px;
  //   height: auto;
  //   border-radius: 20px;
  //   // position: fixed;
  //   top: 229.6px;
  //   &__caption {
  //     font-size: 25px;
  //     margin: 10px 0;
  //     left: 25px;
  //     font-weight: bold;
  //     position: relative;
  //   }
  //   &__ul {
  //     list-style: none;
  //     margin: 0 0 20px;
  //     a {
  //       text-decoration-line: none;
  //       color: #444444;
  //       display: inline-block;
  //       font-size: 25px;
  //       margin: 10px;
  //       left: 15px;
  //       font-weight: bold;
  //       position: relative;
  //       transition: .5s ease 0s;
  //       &::after {
  //         position: absolute;
  //         content: "";
  //         bottom: 0;
  //         left: 50%;
  //         top: 120%;
  //         transform: translateX(-50%);
  //         width: 0;
  //         height: 2px;
  //         background: #000;
  //         transition: .5s ease 0s;
  //       }
  //       &:hover {
  //         color: #000;
  //         cursor: pointer;
  //         // margin: 20px;
  //         transition: all .5s;
  //         &::after {
  //           width: 100%;
  //         }
  //       }
  //     }
  //   }
  // }
}

