.sidebar {
  flex: 1 1 20%;
  margin-left: 5%;
  min-width: 350px;

  &__search {
    display: flex;
    // position: fixed;
    top: 102px;

    &__input {
      width: 230px;
      height: 50px;
      border-radius: 20px;
      font-size: 20px;
      background-color: #fff;
      border: 1px solid #000;
      text-align: center;
    }

    &__button {
      margin-left: 10px;
      width: 50px;
      height: 50px;
      border-radius: 10px;
      background-color: #fff;
      border: 1px solid black;
      transition: all 0.3s;

      & .fa-magnifying-glass {
        display: flex;
        justify-content: center;
        margin: 50% 0;
      }
      &:hover {
        cursor: pointer;
        background-color: #000;
        color: #fff;
        transition: all 0.5s;
      }
    }
  }

  &__filter {
    margin: 5px 0;
    // position: fixed;
    top: 155.6px;

    &__name {
      font-size: 20px;
      font-weight: bold;
      padding: 10px 0 5px;
      border: none;
      border-radius: 8px;
    }
    & button {
      background-color: #fff;
      color: #000;
      font-size: 12px;
      padding: 10px 15px;
      border: none;
      border-radius: 8px;
      transition: all 0.3s;

      &:hover {
        cursor: pointer;
        background-color: #000;
        color: #fff;
        transition: all 0.6s;
      }
    }
  }

  .recentArticle {
    width: auto;
    background-color: #fff;
    box-shadow: 0px 0px 20px #00000080;
    margin-top: 20px;
    width: 288px;
    border-radius: 20px;
    position: absolute;

    &__title {
      background-color: #ecdcb2;
      color: #c29523;
      font-size: 25px;
      padding: 10px;
      text-align: center;
      letter-spacing: 1px;
      border-radius: 20px 20px 0  0;
      width: 288px;
    }

    &__item {
      width: 288px;
      background-color: #fff;
      transition: all 0.3s;
      margin: 5px 0;
      transition: all 0.3s;
      border-radius: 20px;

      &:hover {
        cursor: pointer;
        opacity: 0.5;
        transition: all .3s;
      }

      &__contents {
        width: 200px;
        padding: 0px 0;
        text-align: center;

        &__section {
          display: flex;


          &__img {
            width: 128px;
            height: 72px;
            margin: 10px;
            border-radius: 5px;
          }

          &__text {
            &__headline {
              position: relative;
              top: 30px;
              right: 0px;
              font-size: 15px;
              color: #000;
              width: 130px;
              overflow-wrap: anywhere;
            }

            &__dataPublished {
              position: relative;
              top: 40px;
              right: 0px;
              font-size: 12px;
              color: #000;
            }
          }
        }
      }
    }
  }

  &__link {
    width: 305px;
    height: auto;
    border-radius: 20px;
    // position: fixed;
    top: 229.6px;
    &__caption {
      font-size: 25px;
      margin: 10px 0;
      left: 25px;
      font-weight: bold;
      position: relative;
    }
    &__ul {
      list-style: none;
      margin: 0 0 20px;
      a {
        text-decoration-line: none;
        color: #444444;
        display: inline-block;
        font-size: 25px;
        margin: 10px;
        left: 15px;
        font-weight: bold;
        position: relative;
        transition: .5s ease 0s;
        &::after {
          position: absolute;
          content: "";
          bottom: 0;
          left: 50%;
          top: 120%;
          transform: translateX(-50%);
          width: 0;
          height: 2px;
          background: #000;
          transition: .5s ease 0s;
        }
        &:hover {
          color: #000;
          cursor: pointer;
          // margin: 20px;
          transition: all .5s;
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

