@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1pxdotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1pxsolid #cccccc;
  margin: 1em0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  overflow-x: hidden;
}

.main {
  display: flex;
  position: relative;
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
}
.header__nav {
  width: 100%;
  padding: 0;
  text-align: center;
}
.header__nav__top {
  background-color: #eec968;
  height: 50px;
  padding: 10px 0;
}
.header__nav__top__logo {
  width: 223px;
  height: 42px;
  position: relative;
  bottom: 5px;
}
.header__nav__ul {
  margin-bottom: 50px;
  margin: 20px 0;
}
.header__nav__ul__li {
  display: inline-block;
  margin: 0 25px;
  font-size: 16px;
  font-weight: 600;
}
.header__nav__ul__li a {
  font-family: Montserrat, sans-serif;
  text-decoration-line: none;
  color: #444444;
  display: inline-block;
  position: relative;
}
.header__nav__ul__li a::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0%;
  top: 120%;
  transform: translateX(0%);
  width: 0;
  height: 2px;
  background: #000;
  transition: all 0.3s ease 0s;
}
.header__nav__ul__li a:hover {
  cursor: pointer;
  color: #000;
}
.header__nav__ul__li a:hover::after {
  width: 100%;
}

.sidebar {
  flex: 1 1 20%;
  margin-left: 5%;
  min-width: 350px;
}
.sidebar__search {
  display: flex;
  position: fixed;
  top: 130px;
}
.sidebar__search__input {
  width: 230px;
  height: 50px;
  border-radius: 20px;
  font-size: 20px;
  background-color: #fff;
  border: 1px solid #000;
  text-align: center;
}
.sidebar__search__button {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid black;
  transition: all 0.3s;
}
.sidebar__search__button .fa-magnifying-glass {
  display: flex;
  justify-content: center;
  margin: 50% 0;
}
.sidebar__search__button:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
  transition: all 0.5s;
}
.sidebar__filter {
  margin: 5px;
  top: 155.6px;
}
.sidebar__filter__name {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0 5px;
  border: none;
  border-radius: 8px;
}
.sidebar__filter__button {
  background-color: #fff;
  color: #000;
  font-size: 12px;
  padding: 10px 12px;
  margin: 0 5px;
  border: none;
  border-radius: 8px;
  transition: all 0.3s;
}
.sidebar__filter__button:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
  transition: all 0.6s;
}
.sidebar .recentArticle {
  position: fixed;
  top: 200px;
  width: 296px;
}
.sidebar .recentArticle__title {
  background-color: #ecdcb2;
  color: #c29523;
  font-size: 25px;
  padding: 10px;
  text-align: center;
  letter-spacing: 1px;
  border-radius: 20px 20px 0 0;
  width: 296px;
}
.sidebar .recentArticle__item a {
  text-decoration: none;
}
.sidebar .recentArticle__item__section {
  display: flex;
}
.sidebar .recentArticle__item__section__img {
  width: 50%;
  height: 50%;
}
.sidebar .recentArticle__item__section__text__headline {
  color: #000;
}
.sidebar .recentArticle__item__section__text__description {
  color: #000;
}
.sidebar .recentArticle__item__section__text__dataPublished {
  color: #000;
}
.sidebar__link {
  width: 305px;
  height: auto;
  border-radius: 20px;
  top: 229.6px;
}
.sidebar__link__caption {
  font-size: 25px;
  margin: 10px 0;
  left: 25px;
  font-weight: bold;
  position: relative;
}
.sidebar__link__ul {
  list-style: none;
  margin: 0 0 20px;
}
.sidebar__link__ul a {
  text-decoration-line: none;
  color: #444444;
  display: inline-block;
  font-size: 25px;
  margin: 10px;
  left: 15px;
  font-weight: bold;
  position: relative;
  transition: 0.5s ease 0s;
}
.sidebar__link__ul a::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  top: 120%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: #000;
  transition: 0.5s ease 0s;
}
.sidebar__link__ul a:hover {
  color: #000;
  cursor: pointer;
  transition: all 0.5s;
}
.sidebar__link__ul a:hover::after {
  width: 100%;
}

.footer {
  grid-area: footer;
}/*# sourceMappingURL=app.original.css.map */